/.vagrant/
/app/config/parameters.php
/app/config/salt.php
/app/devops/group_vars/*/parameters.yml
/public/app_content/
/public/core/
/public/.htaccess
/theme/assets/css/
/theme/assets/dist/
/theme/assets/vendor/
/vendor/
/composer.phar
/composer.lock
/.idea/
/nbproject/
/*.sublime-project
/*.sublime-workspace
